body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
    background-image: url('https://i.ibb.co/vXqDmnh/background.jpg');
    min-height: 100vh;
    position: fixed;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    margin-left: -10px;
    margin-left: -10px;

}

.logo{
    color: rgb(255, 94, 0);
    font-family:cursive;
    font-size: 20px;
    font-weight:bolder;
}


.card {
    margin-bottom: 20px;
    border: none
}

/* .opacity {
opacity: .9;
} */
.box {
    border-radius: 7%;
    width: 300px;

    padding: 40px;
    margin-left: 39%;
    flex: auto;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    background: black;
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
    
    
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.signin {
font-size: 25px;
text-align:  left;
font-weight: 900;

}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: rgba(229, 8, 21)
}

.box input[type="submit"] {
    margin: 10px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.box input[type="submit"]:hover {
    background: rgba(229, 8, 21)
}

.forgot {
    color: white;
    text-align: left;
    text-decoration: underline
    
}



.label {
    color: white;
}

.danger {
    color: red;
    
}