/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 1px;
    border-color: rgb(229, 8, 1);
    border-radius: 2px;
    margin: 35px;

  }
  
  .column left {
    width: 10%;

  }
  
  .column right {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
      text-align: center;
      color: rgb(229, 8, 1);
      font-size: 35px;
      font-family:cursive;
  }

  