html {
    scroll-behavior: smooth;
   }
   body {
    margin: 0;
    background-color: #000;
   }
   h1 {
    font-family: Arial;
    color: red;
    text-align: center;
   }
   .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
   }
   .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* margin: 20px ; */
   }
   .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
   }
   .wrapper section .item:hover {
    /* margin: 0 40px; */
    transform: scale(1.2);
   }



   .image{
    width: 100px;
    height: 100 px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
 
 
}

.maintop {
  padding: 50px;
margin-top: -100px;
}

.top{
  padding-top: 100px;
 
}

.zoom {
    padding: 50px;

    transition: transform .2s; /* Animation */
 
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
   
   .wrapper section a {
 
    color: #fff;
    text-decoration: none;
    font-size: 6em;

    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
   }

   @media only screen and (max-width: 600px) {
    a.arrow__btn {
    display: none;
    }
    
   }



